{% extends "admin/_base.html" %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block main %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-primary text-white">
                <div class="card-body d-flex justify-content-between p-4">
                  <div>
                    <div class="display-6">11.2k</div>
                    <div class="card-text">Access</div>
                  </div>
                  <div class="display-6"><i class="fa-solid fa-eye"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-success text-white">
                <div class="card-body d-flex justify-content-between p-4">
                  <div>
                    <div class="display-6">2.67k</div>
                    <div class="card-text">Users</div>
                  </div>
                  <div class="display-6">
                    <i class="fa-solid fa-users"></i>
                  </i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-warning text-white">
                <div class="card-body d-flex justify-content-between p-4">
                  <div>
                    <div class="display-6">56</div>
                    <div class="card-text">Articles</div>
                  </div>
                  <div class="display-6"><i class="fa-regular fa-newspaper"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-danger text-white">
                <div class="card-body d-flex justify-content-between p-4">
                  <div>
                    <div class="display-6">13</div>
                    <div class="card-text">Categories</div>
                  </div>
                  <div class="display-6"><i class="fa-solid fa-layer-group"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='admin/js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='admin/assets/demo/chart-area-demo.js')}}"></script>
<script src="{{ url_for('static', filename='admin/assets/demo/chart-bar-demo.js')}}"></script>
<script src="{{ url_for('static', filename='admin/js/datatables-simple-demo.js')}}"></script>
{% endblock %}
