{% extends "admin/base.html" %}

{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-primary text-white">
                <div class="d-flex justify-content-between p-4">
                  <div>
                    <div class="h1">{{ overview["access"] }}</div>
                    <div class="card-text h6">Access</div>
                  </div>
                  <i class="fa-solid fa-eye h1"></i>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-success text-white">
                <div class="d-flex justify-content-between p-4">
                  <div>
                    <div class="h1">{{ overview["users"] }}</div>
                    <div class="card-text h6">Users</div>
                  </div>
                    <i class="fa-solid fa-users h1"></i>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-warning text-white">
                <div class="d-flex justify-content-between p-4">
                  <div>
                    <div class="h1">{{ overview["articles"] }}</div>
                    <div class="card-text h6">Articles</div>
                  </div>
                  <i class="fa-regular fa-newspaper h1"></i>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card mb-4 bg-danger text-white">
                <div class="d-flex justify-content-between p-4">
                  <div>
                    <div class="h1">{{ overview["categories"] }}</div>
                    <div class="card-text h6">Categories</div>
                  </div>
                  <i class="fa-solid fa-layer-group h1"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}
